@import './__title/form__title.scss';
@import './__submit-button/form__submit-button.scss';

.form {
  width: 50%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
